:root {
  --purple: #2c0033;
  --navy: #2d21b6;
  --yellow: #ffd400;
  --blue: #236cff;
  --green: #1fcf93;
  --orange: #ff644c;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}
h1 {
  font-weight: 900;
  font-size: 1.8em;
}

/* Header */
.title {
  color: var(--purple);
  font-size: 2.7em;
}
.lines {
  text-align: center;
  margin: 10px auto;
}
.lines span {
  display: inline-block;
  width: 60%;
  height: 20px;
  background-color: #f8f8f8;
}
.lines span:last-child {
  width: 65%;
  margin-top: -10px;
  background-color: #e9e9e9;
}
/* Header */

/* App */
.app {
  width: 95%;
  margin: 0 auto;
}
section {
  display: flex;
  margin: 50px auto;
  justify-content: space-around;
}
/* App */

/* TodoPreview */
.todo-preview {
  flex-basis: 20%;
  height: 600px;
  background-color: var(--yellow);
  padding: 1px;
  text-align: center;
  position: relative;
}
.todo-preview h1 {
  font-weight: 900;
  color: var(--blue);
  margin: 10px auto;
  text-align: center;
}
.todo-preview-container {
  display: flex;
  height: 400px;
  justify-content: center;
  align-items: center;
}
.todo-preview-container h4 {
  font-style: italic;
}
.todo-preview button {
  padding: 3px 20px;
  background-color: var(--blue);
  border: 1px solid black;
  border-radius: 25px;
  color: white;
  font-weight: 900;
  cursor: pointer;
  font-size: 1em;
  position: absolute;
  bottom: 20px;
  left: 50%;
  margin-left: -30px;
}
/* TodoPreview */

/* Poll */
.poll {
  flex-basis: 40%;

  height: 300px;
  background-color: var(--green);
}
.poll h1 {
  text-align: center;
  margin: 10px auto;
  color: var(--purple);
}
/* Poll */

/* FilesTool */
.files-tool {
  flex-basis: 20%;
  height: 600px;
  background-color: var(--navy);
  padding: 1px;
  color: white;
}
.files-tool h1 {
  margin: 10px auto;
  text-align: center;
}
/* FilesTool */
